@at-root {
	.slider-hero {
		background-color: $color-bg-dark;
		color: $white;
		position: relative;
		z-index: 0;
	}

	.slider-hero-slide {
		background-size: cover;
		background-position: center center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 480px;
		padding: 32px 64px 128px;
		text-align: center;
		width: 100%;

		.box {
			margin: 0 auto;
			max-width: 768px;
			padding: 32px;
		}

		.title {
			color: $color-one-400;
			margin-bottom: 16px;
			text-transform: uppercase;
		}

		.desc {
			@include font-size-700;
		}

		.button {
			font-weight: 700;
			padding-bottom: 9px;
			padding-top: 9px;
			text-transform: uppercase;
		}
	}

	.slider-hero-nav {
		display: flex;
		justify-content: center;
		left: 0;
		bottom: 48px;
		position: absolute;
		width: 100%;
		z-index: 2;

		.bullet {
			@include font-size-400;
			align-items: center;
			background-color: $white;
			border: none;
			color: $color-text-light;
			cursor: pointer;
			display: flex;
			flex: 0 0 auto;
			flex-direction: column;
			font-weight: 700;
			justify-content: center;
			margin: 0 1px;
			padding: 16px;
			position: relative;
			text-align: center;
			transition: all 0.2s ease-out;
			text-decoration: none;
			text-transform: uppercase;
			width: 160px;

			&:hover {
				box-shadow: inset 0 4px 0 $color-one-200;
				color: $color-text;
			}

			&:first-child {
				border-radius: 4px 0 0 4px;
			}

			&:last-child {
				border-radius: 0 4px 4px 0;
			}

			&.is-selected {
				box-shadow: inset 0 4px 0 $color-one-500;
				color: $color-text;
			}
		}
	}
}
